class CreateCaptainsConfigs < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :captains_configs do |t|
      t.string :type, null: false
      t.string :key, null: false
      t.string :text

      t.timestamps
    end
  end
end
