class CreateCaptainConfigs < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :captain_configs do |t|
      t.string :type
      t.string :key
      t.string :text

      t.timestamps
    end
  end
end
